@{
    ViewData["Title"] = "Wishlist";
    List<WishListItem> wishListItems = ViewBag.WishList;
    List<int> stockcount = ViewBag.StockCount;
}

@section Scripts {
<script src="~/js/Home.js"></script>
}

<link rel="stylesheet" href="~/css/wishlist.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>

<div class="container">
    <h3>My WishList</h3>
    <p class="mb-3">
        <a href="/" class="text-decoration-none"> << Back To Home Page</a>
    </p>

    @{
        if (wishListItems == null || wishListItems.Count == 0)
        {
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-4 text-center">
                        <img class="text-center img-thumbnail border-0" src="/img/wishlist.png" width="100" height="100" />
                        <p class="mt-4">Your wishlist is Empty</p>
                    </div>
                </div>
            </div>
        }
        else
        {
            <table class="table table-striped">
                <tr>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Stock Status</th>
                    <th></th>
                </tr>
                @for (var i = 0; i < wishListItems.Count; i++)
                {
                    <tr>
                        <td>
                            <img src=@wishListItems[i].Product.Img alt="Product Image" width="200" height="200">
                        </td>
                        <td class="text-wrap align-middle text-left">
                            <h5 class="text-left">@wishListItems[i].Product.Name</h5>
                            <p>@wishListItems[i].Product.Desc</p>
                        </td>
                        <td class="align-middle" style="width:185px">
                            @if (stockcount[i] != 0)
                            {
                                @:Currently in stock! <span class="fa-solid fa-champagne-glasses"></span>
                            }
                            else
                            {
                                @: Sorry...<br /> we are out of stock <span class="fa-solid fa-ghost"></span>
                            }
                        </td>
                        <td class="align-middle">
                            @if (stockcount[i] != 0)
                            {
                                <button type="button" class="btn btn-outline-primary mb-3 w-75" value="@wishListItems[i].Product.Id"><span class="fa-solid fa-cart-arrow-down"></span> Add to Cart</button>
                                <button type="button" class="btn btn-outline-danger w-75" value="@wishListItems[i].Product.Id"><span class="fa fa-trash"></span> Remove From Wishlist</button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-outline-danger w-75" value="@wishListItems[i].Product.Id"><span class="fa fa-trash"></span> Remove From Wishlist</button>
                            }
                        </td>
                    </tr>
                }
            </table>
        }
    }
</div>
