@{
    ViewData["Title"] = "MyPurchase";
    List<Order> Orders = (List<Order>)ViewData["Orders"];
    @*string searchstr = (string)ViewBag.Searchstr;
        string statement = (string)TempData["statement"];*@
    @*Index is the uniqueId assigned for html tag for the activation code display*@
    int index = 0;
}
<body>
    <br> <br> <br>
    @if (Orders.Count == 0)
    {
        @:You don't have any purchase yet!
    }
    else
    {
        @*<div class = "container">
                <div class = "row row-content">
                    <div class ="col-12 col-sm offset-1 mb-3" align-self-center>
                        <form>
                            <div class = "form-row">
                                <input class= "col-3" name = "searchstr" value = "@searchstr" placeholder= "Search your purchase..."/>
                                <button type = "submit" class ="btn btn-primary">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>*@

        <div class="container-fluid">
            <div class="row">
                <h1 style="text-align: left">My Purchase</h1>
            </div>
            @foreach (Order order in Orders)
            {
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <img src="@order.Product.Img" width="300" height="300">
                        </div>
                        <div class="card-body">
                            <h3 style="text-align: center;">@order.Product.Name</h3>
                            <p class="card-text">@order.Product.Desc</p>
                            <p style="text-align: center;"><a href="@order.Product.DownLoadLink" class="btn btn-primary">Download</a></p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-body">
                                <p>Purchased On: @order.CreatedDate</p>
                                <p>Quantity: @order.Quantity</p>
                                <p>
                                    <b>Activation Code: </b>
                                    @if(order.OrderDetails.Count > 1)
                                    {
                                        <select id="@index">
                                            @foreach (OrderDetail detail in order.OrderDetails)
                                            {
                                                <option value="@detail.ActivationId">@detail.ActivationId</option>
                                            }
                                        </select>
                                        <button onclick="copy(@index)">Copy Code</button>
                                    }
                                    else
                                    {
                                        <span id="@index">@order.OrderDetails.First().ActivationId</span>
                                        <button onclick="copySingle(@index)" class="btn btn-primary">Copy Code</button>
                                    }
                                </p>
                                @if(order.ProductReview != null)
                                {
                                    <p id=@order.Id class = "reviewdetail">
                                        <button id=@order.Id>Click to view your review!</button>
                                    </p>
                                }
                                else
                                {
                                    <p>Your have not tell us your review yet!</p>
                                    <p>
                                        @Html.ActionLink("Click to add review","AddReview", "Purchase", order, new {@class="btn btn-primary"})
                                    </p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                index++;
            }
        </div>
    }
</body>